.filters {
  background: white;
  width: 100%;
}

.filters li {
  display: inline-block;
  max-width: 80px;
  padding: 3px;
}

.filters li label {
  display: block;
  font-size: 12px;
  font-weight: 900;
}

.filters li input {
  width: 100%;
}

.filters li select {
  width: 100%;
}

.widget {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.widget .cover {
  height: 160px;
  overflow: hidden;
}

.widget .cover img {
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}

.widget .photo {
  position: absolute;
  top: 85px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.widget h1,
.widget h2,
.widget h3 {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}

.widget h1 {
  margin: 60px 0 20px;
  font-size: 26px;
  color: #000;
}

.widget h3 {
  font-size: 12px;
}

.social-media {
  position: absolute;
  top: 0;
  right: -36px;
  background-color: #2cdfd3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.social-media li {
  margin: 5px 0;
}

.social-media li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.social-media li a:hover {
  background-color: #2cd5ca;
  transform: scale(1.2);
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  justify-content: center;
}

ul li {
  margin: 0 10px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

ul li a:hover {
  color: #007bff;
  transform: scale(1.2);
}
