.filters {
  background: white;
  width: 100%;
}
.filters li {
  display: inline-block;
  max-width: 80px;
  padding: 3px;
}
.filters li label {
  display: block;
  font-size: 12px;
  font-weight: 900;
}
.filters li input {
  width: 100%;
}
.filters li select {
  width: 100%;
}
.widget {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
.widget .cover {
  height: 160px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.widget .cover img {
  width: 100%;
  height: auto;
}
.widget .profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
}
.widget .profile-name {
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.widget .profile-role {
  font-size: 18px;
  color: #777;
  text-align: center;
}
.widget .profile-location {
  font-size: 16px;
  color: #777;
  text-align: center;
}
.widget .social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.widget .social-media a {
  text-decoration: none;
  color: #333;
}
