.filters {
  background: white;
  width: 100%;
}
.filters li {
  display: inline-block;
  max-width: 80px;
  padding: 3px;
}
.filters li label {
  display: block;
  font-size: 12px;
  font-weight: 900;
}
.filters li input {
  width: 100%;
}
.filters li select {
  width: 100%;
}
.widget {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
.widget .cover {
  height: 160px;
  overflow: hidden;
}
.widget .cover img {
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}
.widget .photo {
  position: absolute;
  top: 85px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #fff;
  border-radius: 50%;
}
.widget h1,
.widget h2,
.widget h3 {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}
.widget h1 {
  margin: 60px 0 20px;
  font-size: 26px;
  color: #000;
}
.widget h3 {
  font-size: 12px;
}
.widget ul {
  position: absolute;
  top: 20px;
  padding: 0;
  background: #2cdfd3;
}
.widget ul.position-left {
  left: -26px;
}
.widget ul.position-right {
  right: -27px;
}
.widget ul li {
  list-style: none;
}
.widget ul li a {
  display: block;
  padding: 5px 6px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #2cd5ca;
  transition: background-color 0.3s;
}
.widget ul li:hover > a {
  background-color: #2cd5ca;
}
.widget ul li:first-child > a {
  border-radius: 0 3px 0 0;
}
.widget ul li:last-child > a {
  border: none;
  border-radius: 0 0 3px 0;
}
